
<footer>
    <div class="f-info">
        <div class="f-info-socials">
<a href="https://www.linkedin.com/in/aysha-ansari"><i class="fa-brands fa-linkedin"></i></a>
<a href="https://github.com/aysha-ansari18"><i class="fa-brands fa-square-github"></i></a>
<a href="https://www.instagram.com/aysha_ansari03/"><i class="fa-brands fa-square-instagram"></i></a>
        </div>
        <div class="f-info-brand">&copy;Full Stack Developer</div>
        <div class="f-info-links">
        <a href="/privacy">If you'd like to work with me or just say hello, feel free to reach out at ansariaysha909@gmail.com.</a>
       
        </div>
    </div>
</footer>