*{
    padding:0%;
    margin: 0%;
}

body {
    display: flex;
    flex-direction: column;
    width:100%;
    min-height: 100vh; /* full viewport height */
}
.container{
  flex: 1;
  max-width:100%;
  padding:0%;
  margin: 0%;
}
/* navbar */
.navbar {
  color: white !important;
  background-color: rgb(37, 34, 34) !important;
  font-style: italic;
}

.navbar-brand{
  color:white;
  font-size: 1.5rem;
}
 .navbar-brand:hover{
  color: rgb(183, 180, 180) !important;
}

.nav-link{
   color:white;
   font-style: italic;
}
.nav-link:hover{
  color: rgb(183, 180, 180) !important; 

}


/* footer */
.f-info{
text-align: center;
height:8rem;
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
align-items: center;
background-color: rgb(37, 34, 34);
color:white;
margin-bottom:0% !important;
width:100%;
}

.f-info-links a{
  text-decoration: none;
  color:white;
    font-size: 0.9rem;
}

.f-info-links,.f-info-socials{
    width:100%;
}

.f-info-socials a{
color:white;
 text-decoration: none;
 margin: 0 0.7rem;
 font-size: 1.2rem;
}

.f-info-socials a:hover{
  font-size:1.4rem;
}

.f-info-links a:hover{
  font-size:1.4rem;
}
.f-info-brand{
  font-size: 0.9rem;
}

/* hero-section */
.hero-section {
  display: flex;
  justify-content: space-between;
  background-color: #5682B1;
   width:100%;
   flex-wrap: wrap;
   padding: 0% 20px 0% 20px;

}

.hero-image{
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin-top:20%;
   transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform: scale(1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
 
}
.hero-image:hover{
   transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.left-section{
  width:40%;
  color:white;
  align-items: center;
  margin-top: 5%;
  font-size: 1.5rem;
}
#element{
  color:#002b56;
  font-weight: bold;
}

.btn{
  margin-top: 2rem;
  background-color: #FFE8DB;
  color:black;
}

.sec-section{
  background-color:  rgb(51, 46, 46);
  margin: 0;
  padding: 0;
  height:400px;
  width: 100%;
  max-width: 100%;
  color:white;
}
.skill-heading{
  padding:2rem 0 0 2rem;
}
.sec-card{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top:3rem ;

} 
.card{
  background-color: rgb(8, 8, 8);
  height: 200px;
  width: 16%;
  border-radius: 10px;
  text-align: center;
  padding: 1rem;
  color:white;
 transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform: scale(1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}
.card:hover {
  transform: scale(1.2);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
 .skill-card{
  background-color: white !important;
  margin-left:5rem !important;
 }
 .skill-container{
    background-color: #222831!important;
 }

 /* about me */
 .port-img{
  background-color: #d9e7f6;
 
 }

 .lead{
  font-size: 1.5rem;
  font-weight: 300;
 }
