<% layout("/layouts/boilerplate") %>

<div class="container  skill-container">
  <div class="row">
    <div class="col-md-4 mb-4 mt-4">
      <div class="card skill-card" style="width:12rem">
        <div class="skill-body mt-1 text-center">
          <img src="/images/html.jpg" alt="HTML Logo" class="m-auto" style="width: 80px; height: 80px;">
          <h5 class="card-title mt-2">HTML</h5>
          <button class="btn btn-primary mt-1">Learn More
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4 mt-4 ">
      <div class="card skill-card " style="width:12rem">
        <div class="skill-body mt-1 text-center">
          <img src="/images/css.png" alt="CSS Logo" class="m-auto" style="width: 80px; height: 80px;">
          <h5 class="card-title mt-2">CSS</h5>
          <button class="btn btn-primary mt-2">Learn More</button>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4 mt-4">
      <div class="card skill-card" style="width:12rem">
        <div class="skill-body mt-1 text-center">
          <img src="/images/js.png" alt="JavaScript Logo" class="m-auto" style="width: 80px; height: 80px;">
          <h5 class="card-title mt-2">JavaScript</h5>
          <button class="btn btn-primary mt-2">Learn More</button>
        </div>
      </div>
    </div>
 <div class="col-md-4 mb-4 mt-4">
      <div class="card skill-card" style="width:12rem">
        <div class="skill-body mt-1 text-center">
          <img src="/images/node.jpg" alt="HTML Logo" class="m-auto" style="width: 80px; height: 80px;">
          <h5 class="card-title mt-2">Node.js</h5>
          <button class="btn btn-primary mt-2">Learn More</button>
        </div>
      </div>
    </div>

     <div class="col-md-4 mb-4 mt-4">
      <div class="card skill-card" style="width:12rem">
        <div class="skill-body mt-1 text-center">
          <img src="/images/expressjs.png" alt="HTML Logo" class="m-auto" style="width: 80px; height: 80px;">
          <h5 class="card-title mt-2">Express.js</h5>
          <button class="btn btn-primary mt-2">Learn More</button>
        </div>
      </div>
    </div>

     <div class="col-md-4 mb-4 mt-4">
      <div class="card skill-card" style="width:12rem">
        <div class="skill-body mt-1 text-center">
          <img src="/images/mongodb.jpg" alt="HTML Logo" class="m-auto" style="width: 80px; height: 80px;">
          <h5 class="card-title mt-2">MongoDb</h5>
          <button class="btn btn-primary mt-2">Learn More</button>
        </div>
      </div>
    </div>

   

     <div class="col-md-4 mb-4 mt-4">
      <div class="card skill-card" style="width:12rem">
        <div class="skill-body mt-1 text-center">
          <img src="/images/react.png" alt="HTML Logo" class="m-auto" style="width: 80px; height: 80px;">
          <h5 class="card-title mt-2">React.js</h5>
          <button class="btn btn-primary mt-2">Learn More</button>
        </div>
      </div>
    </div>

     <div class="col-md-4 mb-4 mt-4">
      <div class="card skill-card" style="width:12rem">
        <div class="skill-body mt-1 text-center">
          <img src="/images/tail.png" alt="HTML Logo" class="m-auto" style="width: 80px; height: 80px;">
          <h5 class="card-title mt-2">Tailwind CSS</h5>
          <button class="btn btn-primary mt-2">Learn More</button>
        </div>
      </div>
    </div>

     <div class="col-md-4 mb-4 mt-4">
      <div class="card skill-card" style="width:12rem">
        <div class="skill-body mt-1 text-center">
          <img src="/images/boot.jpg" alt="HTML Logo" class="m-auto" style="width: 80px; height: 80px;">
          <h5 class="card-title mt-2">Bootstrap</h5>
          <button class="btn btn-primary mt-2">Learn More</button>
        </div>
      </div>
    </div>

      <div class="col-md-4 mb-4 mt-4">
      <div class="card skill-card" style="width:12rem">
        <div class="skill-body mt-1 text-center">
          <img src="/images/python.jpg" alt="HTML Logo" class="m-auto" style="width: 80px; height: 80px;">
          <h5 class="card-title mt-2">Python</h5>
          <button class="btn btn-primary mt-2">Learn More</button>
        </div>
      </div>
    </div>

    
    <!-- Add more col-md-4 for more cards -->
  </div>
</div>
